[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
black = "*"

[packages]
# django-perimeter = {editable = true,path = "."}
# django = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
